@font-face {
    font-family: 'brandon-bold'; /*a name to be used later*/
    src: url('fonts/Brandon_bld.otf'); /*URL to font*/
}

@font-face {
    font-family: 'brandon-light'; /*a name to be used later*/
    src: url('fonts/Brandon_light.otf'); /*URL to font*/
}

@font-face {
    font-family: 'helvetica-neue'; /*a name to be used later*/
    src: url('fonts/HelveticaNeueLTPro-Md.otf'); /*URL to font*/
}

@font-face {
    font-family: 'sourcesanspro_re'; /*a name to be used later*/
    src: url('fonts/ProximaNovaReg.otf'); /*URL to font*/
}

.hcbanner{
    height: 170px;
    background-color: transparent;
    padding-top: 30px;
    text-align: center;
    font-family: 'brandon-light';
    font-size: 40px;
}

.hccontactbanner{
    height: 80px;
    background-color: transparent;
    padding-top: 30px;
    text-align: center;
    font-family: 'brandon-light';
    font-size: 40px;
}

#hcbannerinside>div{
    width: 100%;
}

#hcbannerinside{
    height: 72px;
}


.navbar-default .navbar-nav>li.hctab{
   padding-right: 30px;

}

.navbar-default .navbar-nav>li>a{
    color: rgba(0,0,0,0.5);
    font-family: "brandon-bold";

}

.hcportraitdiv{
    text-align: center;
    position:relative;
    top: -50px;
}


.hccontainer{
    background-color: transparent;

}

.hcnavigation{
    background-color: transparent;
    border-color:transparent;
    padding-top: 20px;
    margin-bottom: 0;
}

.hccollapse{
    padding-right: 20px;
}

.navbar-default .navbar-nav>li>a.hcactive{
    color: black;
}

.hcportrait{
    width: 120px;
    height: 120px;
    border-radius: 200px;
    border: 8px solid #FFF;

}

.hccontactportrait{
    width: 120px;
    height: 120px;
    border-radius: 200px;
    border: 8px solid #FFF;
    position:relative;
    top: -10px;
}

.hcpadder{
    height: 60px;
}

.hcaboutme{
    font-family: 'brandon-bold';
    margin-bottom: 30px;
}

.hcaboutmecontent {
    font-family: 'sourcesanspro_re';
    color: #707070;
    font-size: 15px;
    margin-top: 13px;
    margin-bottom: 0;
}

.hcworkcontent {
    font-family: 'sourcesanspro_re';
    color: #707070;
    font-size: 16px;
    line-height: 1.6em;
    margin-top: 25px;
    margin-bottom: 20px;
}

.hcfindme{
    margin-top: 36px;
    font-family: 'brandon-bold';
    color: black;
}

.hcsocial>ul>li{
    margin-top: 5px;
    text-decoration: none;
    list-style-type: none;
    font-size: 14px;
    font-family: "brandon-bold";
}

.hcsocial>ul{
    margin-top: 32px;
    padding-left: 0;
}

#hcbannerinside>li{
    list-style-type: none;
}


html, body {
    background-color: rgb(237,236,235);
}

.site-footer {
    padding-top: 30px;
    height: 100px;
    font-family: 'sourcesanspro_re';
}

.whitebackground{
    background-color: #ffffff;
}

#map-canvas{
    margin-top: 20px;
    height: 350px;
}

.hcworkbanner{
    height: 170px;
    background-color: transparent;
    padding-top: 30px;
    text-align: center;
}

.hcworkbanner>div>div>h1{
    font-family: 'brandon-light';
    font-size: 40px;
    font-weight: bold;
}

.movedown{
    position: relative;
    top: 20px;
}

.hcworkcircle{
    font-family: 'brandon-light';
    font-size: 20px;
    font-weight: bold;
    padding-top: 12px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 8px solid rgb(237,236,235) ;

    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF ;
    text-align: center;
}



.hcworkverticleline{
    width: 10px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(237,236,235);
}

.hcworktimelinetitle{
    font-family: 'sourcesanspro_re';
    font-weight: bold;
    text-align: center;
}

.htcode {
    background-color: rgb(237,236,235);
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 90%;
    font-family: monospace;
}

.hcbottomborder{
    border-bottom: 1px solid rgb(237,236,235);
}

.hcphotos{
    max-width: 95%;
    max-height: 500px;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 4px;
    padding: 5px;
    border: solid 1px #CCC;
    -moz-box-shadow: 0px 0px 7px #999;
    -webkit-box-shadow: 0px 0px 7px #999;
    box-shadow: 0px 0px 7px #999;

}


#hcbannerinside li{
    display: none;
}

#map-canvas-div{
    border: solid 20px #ffffff;
}

.gm-style-cc {
    display:none;
}

.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
#GMapsID div div a div img{
    display:none;
}